h1 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
    margin-left: 2px;
}

.wrapper {
    position: absolute;
    z-index: 2;
}

.container {
    padding: 70px 20px 0;
}