.contact {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}
.contact h3 {
  font-size: 42px;
}
.contact hr {
  max-width: 100px;
  margin: 0 auto 20px;
  border-top: 2px solid #3c76d4;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.contact .mail {
  font-size: 24px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.contact .icon-list {
  margin: 50px 0;
}
.contact .icon-list-item {
  display: inline-block;
}
.contact .fa {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  background-color: #3c76d4;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 10px;
}
.contact .fa:hover {
  background-color: #182232;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  
}
@media screen and (min-width: 769px) and (max-width: 959px) {
  
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact h3 {
    font-size: 36px;
  }
}
@media screen and (max-width: 479px) {
  .contact h3 {
    font-size: 24px;
  }
  .contact .mail {
    font-size: 18px;
  }
  .contact .icon-list {
    margin: 20px 0;
  }
  .contact .fa {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
  }
}
