.hdr {
  padding: 20px 40px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #e2e2e2;
  z-index: 99;
}
.hdr .logo {
  float: left;
}
.hdr .logo-link {
  display: inline;
}
.hdr .logo-image {
  float: left;
}
.hdr .logo-details {
  padding-left: 135px;
}
.nav {
  float: right;
}
.nav .nav-list-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.nav .nav-link {
  padding: 5px 2px;
  font-size: 24px;
  position: relative;
}
.nav .nav-link:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #182232;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.nav .nav-link:hover:before {
  height: 5px;
  background-color: #3c76d4;
}
