// Project Variables
// =================

// Breakpoints

@layout_lg_desktop_min : 1280px;
@layout_sm_desktop_max : 1279px;
@layout_sm_desktop_min : 960px;
@layout_tablet_max     : 959px;
@layout_tablet_min     : 769px;
@layout_smtablet_max   : 768px;
@layout_smtablet_min   : 480px;
@layout_phone_max      : 479px;

// Fonts
@font_size          : 16px;

.defaultFont() {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

#default-font {
    .hairline() {
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        font-weight: 100;
    }
    .light() {
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        font-weight: 300;
    }
    .normal() {
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        font-weight: 400;
    }
    .bold() {
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        font-weight: 700;
    }
}

// Colours

@color_default : #182232;
@black         : #303030;
@white         : #fff;
@bg_grey       : #e2e2e2;
@grey          : #c6c6c6;
@blue          : #3c76d4;
@orange        : #ef9030;

//Path to Images

@path_images: "/static/img/";

@import "datauri.less";

// Import project less
@import "mixins.less";
