// Project Variables
// =================

// Breakpoints

@layout_lg_desktop_min : 1280px;
@layout_sm_desktop_max : 1279px;
@layout_sm_desktop_min : 960px;
@layout_tablet_max     : 959px;
@layout_tablet_min     : 769px;
@layout_smtablet_max   : 768px;
@layout_smtablet_min   : 480px;
@layout_phone_max      : 479px;

// Fonts
@font_size          : 216px;

// Colours

@black        : #333;
@white        : #fff;

//Path to Images

@path_images: "/static/img/";

@import "datauri.less";

// Import project less
@import "mixins.less";
