.container {
  min-height: 100%;
  width: 100%;
  padding: 150px 40px 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  display: none;
  background: #e2e2e2;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.container#home {
  padding: 200px 40px 0;
}
.container.active-page {
  z-index: 2;
  display: block;
  top: 0;
}
.wrapper {
  height: 100%;
  width: 100%;
  background: url('/static/img/bg-black.png') #303030;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
