.container {
  min-height: 100%;
  width: 100%;
  padding: 150px 40px 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  display: none;
  background: #e2e2e2;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.container.active-page {
  z-index: 2;
  display: block;
}
.wrapper {
  height: 100%;
  width: 100%;
  background-color: #303030;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.mobi-nav-open .wrapper {
  position: fixed;
  -webkit-transform: translate3d(0, 50%, -1000px);
  transform: translate3d(0, 50%, -1000px);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
