@import "../settings.less";

.hdr {
    box-sizing: border-box;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    background: @bg_grey;
    z-index: 99;

    .logo {
        float: left;
    }

    .logo-link {
        display: inline;
    }
    
    .logo-image {
        float: left;
    }

    .logo-details {
        padding-left: 135px;

        a:hover {
            color: @color_default;
            text-decoration: none;
        }
    }
}

.nav {
    float: right;

    .nav-list-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
    }

    .nav-link {
        padding: 5px 2px;
        font-size: 24px;
        position: relative;

        &:before {
            content: " ";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            background-color: @color_default;
            .transition(all 0.1s ease);
        }

        &:hover:before {
            height: 5px;
            background-color: @blue;
        }

        &:after {
            display: none;
        }
    }
}

@media screen and (min-width: @layout_tablet_min) and (max-width: @layout_tablet_max) {
    .hdr {
        padding: 20px;

        .logo-link {
            display: block;
            width: 80px;
        }

        .logo-details {
            padding-left: 85px;
        }
    }
}

@media screen and (min-width: @layout_smtablet_min) and (max-width: @layout_smtablet_max) {
    .hdr {
        padding: 10px;

        .logo-link {
            display: block;
            width: 50px;
        }

        .logo-details {
            padding-left: 65px;
        }
    }

    .nav {
        .nav-list-item {
            margin: 0;
        }

        .nav-link {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: @layout_phone_max) {
    .hdr {
        padding: 10px;

        .logo {
            float: none;
            width: 290px;
            margin: 0 auto;
        }

        .logo-link {
            display: block;
            width: 60px;
        }

        .logo-details {
            padding-left: 75px;
        }
    }

    .nav {
        float: none;
        text-align: center;
        margin-top: 15px;

        .nav-link {
            font-size: 20px;
        }
    }
}