@import "../settings.less";

.hdr {
    box-sizing: border-box;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    background: @bg_grey;
    z-index: 99;

    .logo {
        float: left;
    }

    .logo-link {
        display: inline;
    }
    
    .logo-image {
        float: left;
    }

    .logo-details {
        padding-left: 135px;
    }
}

.nav {
    float: right;

    .nav-list-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
    }

    .nav-link {
        padding: 5px 2px;
        font-size: 24px;
        position: relative;

        &:before {
            content: " ";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            background-color: @color_default;
            .transition(all 0.1s ease);
        }

        &:hover:before {
            height: 5px;
            background-color: @blue;
        }

        &:after {
            display: none;
        }
    }
}

.nav-mobi,
.mobi-nav-btn {
    display: none;
}

@media screen and (min-width: @layout_tablet_min) and (max-width: @layout_tablet_max) {
    .hdr {
        padding: 20px;

        .logo-link {
            display: block;
            width: 80px;
        }

        .logo-details {
            padding-left: 85px;
        }
    }
}

@media screen and (min-width: @layout_smtablet_min) and (max-width: @layout_smtablet_max) {
    .hdr {
        padding: 10px;

        .logo-link {
            display: block;
            width: 60px;
        }

        .logo-details {
            padding-left: 75px;
        }
    }

    .nav {
        display: none;
    }

    .nav-mobi {
        display: block;
        width: 150px;
        margin: 0 auto;

        .nav-list-item {
            display: block;
            .translate(0, -20px);
            .opacity(0);
            .transition(all 0.5s ease);

            &:nth-child(2) {
                -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s;
            }

            &:nth-child(3) {
                -webkit-transition-delay: 0.08s;
                transition-delay: 0.08s;
            }

            &:nth-child(4) {
                -webkit-transition-delay: 0.12s;
                transition-delay: 0.12s;
            }

            .nav-mobi-open & {
                .translate(0, 0);
                .opacity(100);
            }
        }

        .nav-link {
            padding: 5px 2px;
            font-size: 32px;
            #default-font.normal();
            position: relative;
            color: #fff;
    
            &:before {
                content: " ";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                background-color: @color_default;
                .transition(all 0.1s ease);
            }
    
            &:hover:before {
                height: 5px;
                background-color: @blue;
            }
    
            &:after {
                display: none;
            }
        }
    }

    .mobi-nav-btn {
        display: block;
        float: right;
        margin: 5px 10px;

        .fa {
            color: @black;
            font-size: 30px;
        }
    }
}

@media screen and (max-width: @layout_phone_max) {
    .hdr {
        padding: 10px;

        .logo-link {
            display: block;
            width: 40px;
        }

        .logo-details {
            padding-left: 55px;
        }
    }

    .nav {
        display: none;
    }

    .mobi-nav-btn {
        display: block;
        float: right;
        margin: 0 5px;

        .fa {
            color: @black;
            font-size: 30px;
        }
    }

    .nav-mobi {
        display: block;
        width: 150px;
        margin: 0 auto;

        .nav-list-item {
            display: block;
            .translate(0, -20px);
            .opacity(0);
            .transition(all 0.5s ease);

            &:nth-child(2) {
                -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s;
            }

            &:nth-child(3) {
                -webkit-transition-delay: 0.08s;
                transition-delay: 0.08s;
            }

            &:nth-child(4) {
                -webkit-transition-delay: 0.12s;
                transition-delay: 0.12s;
            }

            .nav-mobi-open & {
                .translate(0, 0);
                .opacity(100);
            }
        }

        .nav-link {
            padding: 5px 2px;
            font-size: 32px;
            #default-font.normal();
            position: relative;
            color: #fff;
    
            &:before {
                content: " ";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                background-color: @color_default;
                .transition(all 0.1s ease);
            }
    
            &:hover:before {
                height: 5px;
                background-color: @blue;
            }
    
            &:after {
                display: none;
            }
        }
    }
}