@import "../settings.less";

.work {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;

    ul {
        position: relative;
    }

    .work-list-item {
        width: 30%;
        margin: 0 -4px 40px 5%;
        display: inline-block;
        padding: 20px;
        background: @blue;
        border: 1px solid @color_default;
        box-sizing: border-box;
        position: relative;
        .transition(all 0.5s ease);
        
        &:nth-child(3n+1) {
            margin-left: 0;
        }

        &:hover .work-overlay {
            .opacity(100);
        }

        img {
            display: block;
        }

        &.view-work {
            // position: absolute;
            z-index: 999;
            width: 100%;
            height: 100%;
            border-width: 0;
            margin: 0;
            top: 0;
            left: 0;
        }
    }

    .work-overlay {
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding-top: 50%;
        background: rgba(24, 34, 50, 0.6);
        .opacity(0);
        .transition(all 0.2s ease);
        text-align: center;
    }

    .fa {
        font-size: 60px;
        width: 80px;
        height: 80px;
        line-height: 85px;
        color: @white;
        background: rgba(24, 34, 50, 0.6);
        border-radius: 100%;
        margin: -40px 10px 0;
        border-top: 1px solid #444;
        border-right: 1px solid #444;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
    }
}

.pop {
    position: fixed;
    z-index: -1;

    &.pop-open {
        width: 100%;
        height: 100%;
        z-index: 999;
        top: 0;

        .pop-bg .pop-bg-tile {
            .scale(1);
            .opacity(100);
            border-radius: 0;
        }

        .pop-content{
            .opacity(100);
            .translate(0, 0);
        }

        .pop-close {
            .opacity(100);
        }
    }

    .pop-bg {
        position: fixed;
        width: 100%;
        height: 100%;

        .pop-bg-tile {
            float: left;
            width: 10%;
            height: 11%;
            background: @blue;
            border-radius: 100%;
            .scale(0);
            .opacity(0);
            .transition(all 0.5s ease);
        }
    }

    .pop-close {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 36px;
        line-height: 36px;
        .opacity(0);
        .transition(all 1s ease 0.25s);

        .fa {
            color: @grey;
        }
    }

    .pop-content {
        .opacity(0);
        .translate(0, -20px);
        .transition(all 1s ease 1s);
        position: relative;
        padding: 40px 20px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .work-content em {
        #default-font.hairline();
        font-style: normal;
    }

    .work-content-left {
        width: 60%;
        float: left;
        padding: 0 20px 0 0;
        box-sizing: border-box;
    }
}

@media screen and (min-width: @layout_tablet_min) and (max-width: @layout_tablet_max) {
    .work {
        width: 100%;

        .fa {
            font-size: 50px;
            width: 60px;
            height: 60px;
            line-height: 65px;
        }
    }
}

@media screen and (min-width: @layout_smtablet_min) and (max-width: @layout_smtablet_max) {
    .work {
        width: 100%;

        .work-list-item {
            width: 48%;
            margin: 0 -4px 20px 4%;

            &:nth-child(3n+1) {
                margin-left: 4%;
            }

            &:nth-child(2n+1) {
                margin-left: 0;
            }
        }

        .fa {
            font-size: 50px;
            width: 60px;
            height: 60px;
            line-height: 65px;
        }
    }
}

@media screen and (max-width: @layout_phone_max) {
    .work {
        width: 100%;

        .work-list-item {
            width: 100%;
            max-width: 360px;
            margin: 0 auto 20px;
            display: block;

            &:nth-child(3n+1) {
                margin-left: auto;
            }

            &:nth-child(2n+1) {
                margin-left: auto;
            }
        }
    }
}