@import "../settings.less";

.container {
    min-height: 100%;
    width: 100%;
    padding: 150px 5% 0;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: none;
    background: @bg_grey;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);

    &.active-page {
        z-index: 2;
        display: block;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: @black;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    .opacity(100);
    .translate3d(0, 0, 0);
    .transition(transform 0.5s ease);

    .mobi-nav-open & {
        position: fixed;
        .translate3d(0, 50%, -1000px);
        .opacity(50);
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}