@import "../settings.less";

.container {
    display: none;
    height: 100%;
    width: 100%;
    padding: 178px 40px 0;
    .boxSizing();
    background: @light_grey;
    position: absolute;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: @black;
}